.affair {
  .leftTransition;
  .centeredPosition;
  .centered;
  top: -10%;
  height: 35.625vh;
  width: 33%;
  font-family: FortescuePro;
}

.affairSign {
  margin: auto;
  width: 100%;
  height: 50%;
}

.affairSign img {
  position: absolute;
  top: 50%;
  left: 61%;
  height: 14vw;
  margin-top: -14vw; /* Half the height */
  margin-left: -9vw;
}

.affairDetails {
  position: absolute;
  margin: auto;
  width: 100%;
  height: 50%;
}