.translateCentered() {
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.opacityTransition() {
  -webkit-transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  -ms-transition: opacity 1s ease-out; /* IE10 is actually unprefixed */
  -o-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}

.heightTransition() {
  -webkit-transition: height 1s ease-out;
  -moz-transition: height 1s ease-out;
  -ms-transition: height 1s ease-out; /* IE10 is actually unprefixed */
  -o-transition: height 1s ease-out;
  transition: height 1s ease-out;
}

.leftTransition() {
  -webkit-transition: left 1s ease-out;
  -moz-transition: left 1s ease-out;
  -ms-transition: left 1s ease-out; /* IE10 is actually unprefixed */
  -o-transition: left 1s ease-out;
  transition: left 1s ease-out;
}

.centered() {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.centeredPosition() {
  margin: auto;
  position: absolute;
}

@font-face {
  font-family: FortescuePro;
  src: url("../public/FortescuePro-Regular.otf") format("opentype");
}

@font-face {
  font-family: FortescuePro;
  font-weight: bold;
  src: url("../public/FortescuePro-Regular.otf") format("opentype");
}