.clockCircle {
  stroke: @base;
  fill: transparent;
  stroke-dasharray: 3, 2;
  padding: 2vh;

}

g {
  -webkit-transition: -webkit-transform 1s ease-out;
  -moz-transition: transform 1s ease-out;
  -ms-transition: transform 1s ease-out; /* IE10 is actually unprefixed */
  -o-transition: transform 1s ease-out;
  transition: transform 1s ease-out;

}

.monthText {
  font-size: 1.8vh;
  fill: @base;
}

polygon {
  fill: @base;
}

svg {
  font-size: 4.2vh;
  fill: @base;
  font-family: FortescuePro;

  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30vh;
  width: 100%;

}

.curveContainer {
  transform: translate(0, 23vh);

  -webkit-transition: -webkit-translate 1s ease-out;
  -moz-transition: translate 1s ease-out;
  -ms-transition: translate 1s ease-out; /* IE10 is actually unprefixed */
  -o-transition: translate 1s ease-out;
  transition: translate 1s ease-out;

}

.pointerMove {
  transform: translate(0, 23vh);
}

.curveLabel {
  font-size: 1vw;
}

.stroke() {
  fill: none;
  stroke: @base;
  stroke-width: 0.8;
  stroke-dasharray: 2, 3
}

.curve {
  .stroke;
  stroke-dasharray: none;
}

.monthArc {
  .stroke;
}

.scale {
  transform: translate(10vh, 20vh) rotate(19deg);
}

.scaleNumbers {
  font-size: 25px;
  stroke: #ffc866;
}

.contentBlock {
  font-size: 1vw;
  margin: 5% 10% auto 13%;
}

.footer {
  width: 100%;
  bottom: 0;
  position: fixed;
}

.curveLabel {
  -webkit-transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  -ms-transition: opacity 1s ease-out; /* IE10 is actually unprefixed */
  -o-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}

.point {
  stroke: 2;
  fill: @background-color;
  stroke: @base;
  r: 0.25vh;
}
.week {
  font-size: 4vh;
}