.letterContent {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.letter {
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out; /* IE10 is actually unprefixed */
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  .centeredPosition;
  .centered;
  height: 40%;
  width: 46%;
  background-color: #eef0e6;
  font-family: FortescuePro;
}

.letterExpanded {
  overflow: hidden;
  z-index: 100;
  .opacityTransition;
  .leftTransition;
  .heightTransition;
  .centeredPosition;
  .centered;
  height: 100%;
  width: 46%;
  background-color: #eef0e6;
  font-family: FortescuePro;

}

.letterExpandedContent {
  position: relative;
  float: left;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  .heightTransition;
}

.from {
  text-align: center;
  color: @base;
  font-size: 1.8vw;
}

.to {
  text-align: center;
  color: #000000;
  font-size: 2.9vw;
  margin: 3%;
}