@base: #ac8548;
@import "common";
@import "header";
@import "work";
@import "letter";
@import "affair";
@import "footer";

@background-color: #001225;

html body {
  background-color: @background-color;
}