.workDescription {
  margin-left: 50%;
  width: 700px;
  font-size: 25px;
  font-family: FortescuePro;
  float: left;
  color: @base;
}

.work {
  .leftTransition;
  .centeredPosition;
  .centered;
  width: 100%;
  max-height: 67vh;
  font-family: FortescuePro;
  z-index: 100;
  display: flex;
}

.workBlock {
  /*background-color:  red;*/
  height: 100%;
  position: relative;
  flex: 1 0 25%;
}

.workText {
  position: absolute;
  .centered;
  height: 30%;
  margin: auto;
  text-align: center;
  font-size: 5vw;
  font-size: 1.5vw;
}

.workImage {
  height: auto;
  margin: auto;
  max-width: 100%;
  max-height: 67vh;
  z-index: 100;
}

.workTitle {
  color: @base;
  font-family: FortescuePro;
  font-size: 2.5vw;
  text-align: center;
}

.workTechnique, .workDesc {
  font-size: 1.525vw;
  color: #735f3c;
  text-align: center;
}

.technique {
  font-family: FortescuePro;
  color: @base;
  font-size: 27px;
}

.imageBlock {
  position: relative;
  height: auto;
  flex: 0 0 auto;
  max-width: 50%;
  text-align: center;
  display: flex;
  align-items: center;
}

.imageBlockInner {
  display: inline-block;
  position: relative;
}

.centered-container {
  width: 140%;
  height: 30%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  .translateCentered;
}

.centered-container-affair {
  width: 100%;
  height: 30%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  .translateCentered;
}

.centered-container span {
  width: 120%;
  position: absolute;
  top: 30%;
  left: 50%;
  .translateCentered;
}

.side() {
  width: 140%;
  height: 30%;
  text-align: center;
  position: absolute;
  top: 50%;
  .translateCentered;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.workWidth {
  color: @base;
  font-size: 1vw;
  -webkit-transform: rotate(90deg) translateX(70%) translateY(-40%);
  -moz-transform: rotate(90deg) translateX(70%) translateY(-40%);
  -webkit-transform: rotate(90deg) translateX(70%) translateY(-40%);
  -o-transform: rotate(90deg) translateX(70%) translateY(-40%);
  -ms-transform: rotate(90deg) translateX(70%) translateY(-40%);
  z-index: -50;
  text-align: left;
  position: absolute;
  width: 10%;
  -webkit-transition: 0.6s left 0.9s ease-out;
  -moz-transition: 0.6s left 0.9s ease-out;
  -ms-transition: 0.6s left 0.9s ease-out; /* IE10 is actually unprefixed */
  -o-transition: 0.6s left 0.9s ease-out;
  transition: 0.6s left 0.9s ease-out;

}

.workHeight {
  font-size: 1vw;
  padding-top: 0.5vh;
  position: absolute;
  top: 100%;
  -webkit-transition: 0.6s top 0.9s ease-out;
  -moz-transition: 0.6s top 0.9s ease-out;
  -ms-transition: 0.6s top 0.9s ease-out; /* IE10 is actually unprefixed */
  -o-transition: 0.6s top 0.9s ease-out;
  transition: 0.6s top 0.9s ease-out;
  z-index: -50;
  color: @base;
}

.centered-container-left {
  padding: 0 1vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.centered-container-right {
  padding: 0 1vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
